* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #c8f1f4ba;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.info-box {
    background-color: rgba(193, 244, 243, 0.543);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.543);
    height: 20rem;
}
.info-box .text-info h1 {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.info-box .text-info p {
    font-size: .8rem;
    text-align: center;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}
.info-box .text-info input {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}
.info-box .text-info input:focus {
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.543);
}
.info-box button {
    display: grid;
    place-content: center;
    margin-top: 1.1rem;
    padding: .3rem;
    background-color: #5eff8c;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.543);
    border-radius: 5px;
}
.info-box button:hover {
    background-color: #14f754;
}
#pic img {
    height: 80px;
    margin-top: -2rem;
} 
/* Main Content Items */

.content {
   text-align: center;
   display: none;
}
.content h3 {
    margin: 1rem;
    text-transform: uppercase;
    font-size: .8rem;
    margin-top: -.2rem;
    opacity: .3;
}
.content .heading h4 {
    font-size: 3rem;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    animation: animate 1s ease-in-out infinite;
    color: rgb(255, 127, 255);
}

@keyframes animate {
    0% {
        color: yellow;
        text-shadow:5px 5px 10px rgba(255, 30, 0, 0.8),
    -5px -5px 10px rgba(255, 30, 0, 0.8);
    }
    20% {
        color: rgb(0, 217, 255);
        text-shadow:5px 5px 10px rgba(234, 255, 0, 0.8),
        -5px -5px 10px rgba(234, 255, 0, 0.8);
    }
    40% {
        color: rgb(0, 26, 255);
        text-shadow:5px 5px 10px rgba(0, 200, 255, 0.8),
    -5px -5px 10px rgba(0, 200, 255, 0.8);
    }
}

.content .heading p {
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: -2.5rem;
    animation: animate1 2s  infinite linear;
    color: rgb(255, 0, 43);
}

@keyframes animate1 {
    0% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(0deg);
    }
}
@media screen and (max-width: 430px) {
    .info-box {
        margin: 3rem;
        height: 22rem;
    }
}