* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: .2s;
}
body {
    background-color: #f49f6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
/* input part  */

.input {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ff4a13;
    padding: 2rem;
    border-radius: 20px;
    animation: color  .5s infinite ease-in-out;
    
}
.input input {
    padding: .5rem;
    width: 210px;
}
.input button {
    margin-top: 1.3rem;
    height: 30px;
    background-color: #a9fce1;
    transition: .5s;
}
.input button:hover {
    background-color: #ff7722;

}
#message {
    color: rgb(0, 0, 0);
    text-align: center; 
    transition: .5s;
    margin-bottom: 25px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.input .credit {
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    opacity: .2;
}



/* message part  */
.container {
    background-color: #ff7722;
    margin-top: 2rem;
    position: absolute;
    border-radius: 20px;
    transition: .5s;
    animation: color infinite alternate .5s;
    display: none;
}
@keyframes color {
    0% {
        box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.5),-5px -5px 10px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 5px 5px 15px rgba(255, 1, 1, 0.5),-5px -5px 10px rgb(255, 0, 0);
    }
    70% {
        box-shadow: 5px 5px 15px rgba(255, 234, 0,0.5),-5px -5px 10px rgb(255, 247, 0);
    }
    100% {
        box-shadow: 5px 5px 15px rgba(255, 0, 255,0.5),-5px -5px 10px rgb(255, 0, 255);
    }
}
hr {
    width: 240px;
    margin-left: 2.3rem;
    height: .2rem;
    background-color: #fff;
    border-radius: 50%;
}
img {
    height: 160px;
    padding: 15px;
    margin-top: 2px;
}
.container h4 {
    text-align: center;
    font-size: 2rem;
    padding: 15px;
}
.container pre {
    text-align: center;
    font-weight: 600;
}
.container p {
    background-color: black;
    text-transform: uppercase;
    font-size: .5rem;
    color: white;
    text-align: center;
    padding: .2rem;
}
.container .second {
    height: 240px;
    margin-top: -20px;
    /* padding-top: 3rem; */
}
@media screen and (min-width:320px) {
    * {
        font-size: .9rem;
    }
    .container {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .container p {
        border-radius: 0px 0px 10px 10px;
    }
}

.counter {
    /* position: absolute; */
    height: 20px;
    margin-top: 40px;
    opacity: 0.7;
}

.counter img {
    height: 50px;

}
