@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #262323;
}
.main-div {
  background-color: #1c1d1e;
  box-shadow: 3px -3px 20px #fff inset, -3px 3px 20px #fff inset;
  position: absolute;
  border-radius: 20px;
  height: 90%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-div h4 {
  color: white;
  position: absolute;
  z-index: 99;
  margin-top: 11.5rem;
  opacity: 0.8;
  font-size: 10px;
}
.image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* background-color: #ff0000; */
  border: 2px solid rgba(208, 255, 1, 0.8);
  box-shadow: 0px 0px 20px #fff;
  margin-top: -100px;
}

.image img {
  /* transition: animation .5s; */
  border-radius: 50%;
}

.image img.rotate {
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  display: flex;
  justify-content: space-around;
  /* background-color: #2e1717; */
  /* border: 2px solid rgb(230, 0, 255); */
  height: 70px;
  width: 250px;
  align-items: center;
  font-size: 25px;
  border-radius: 30px;
}
.icon i {
  color: rgb(255, 255, 255);
}

.icon i:hover {
  color: #b8afaf;
}

.icon i:active {
  color: #00e1ff;
}

.title {
  width: 100%;
  margin-top: 30px;
  height: 35px;
  text-align: center;
  background-color: #eeff00;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 20px;
  /* transition: .5s; */
}

.songLength {
  margin-top: -25rem;
  font-size: 10px;
  position: absolute;
  color: rgb(0, 213, 255);
}
